.navbar{
    background-color: #3e2723;
}

.landing-jumbotron{
    background-color: #ffebee;
}

::selection{
    background: #3e2723;
    color: #ffebee;
}

.jumbotron-header{
    font-size: 3.8em;
}

.brown-button{
    background-color: #3e2723;
}

.brown-color{
    color: #3e2723;
}