{%extends "premios_app/base.html"%}
{%block content%}
{%include "premios_app/navbar.html"%}
<div id="jumbo" class="jumbotron text-center landing-jumbotron z-depth-0">
    <h2 class="jumbotron-header">About</h2>
    <p class="reg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
<div class="container mid">
    <div class="row">
        <div class="col-lg-7">
            <img src="../../static/assets/img/illustration.png" class="img-fluid" alt="illustration">
        </div>
        <div class="col-lg-4">
            <h3 class="about">By Devs, For Devs</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloribus, adipisci debitis! Laborum optio provident illum libero voluptatum quam atque aliquam,
                ratione facere cupiditate dolor harum a vitae corrupti veritatis eveniet?
            </p>
            <p>Collins.</p>
        </div>
    </div>
</div>
{%endblock%}