{%extends "premios_app/base.html"%}
{%block content%}
{%include "premios_app/navbar.html"%}
<div class="jumbotron text-center landing-jumbotron z-depth-0">
    <h2 class="jumbotron-header">About</h2>
    <p class="reg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
<div class="container mid">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Doloribus, adipisci debitis! Laborum optio provident illum libero voluptatum quam atque aliquam,
        ratione facere cupiditate dolor harum a vitae corrupti veritatis eveniet?
    </p>
    <p>Collins.</p>
</div>
{%endblock%}