{%extends "premios_app/base.html"%}
{%block content%}
{%include "premios_app/navbar.html"%}
<div class="text-center z-depth-0">
    <h3 class="jumbotron-header big-brand" style="margin-top: 20px;">{{project.title}}</h3>
    <p class="brown-color">by: {{project.author.username}}</p>
    <small class="brown-color text-muted">{{project.publish_date|date:"D M Y"}}</small>
</div>
<div class="container-fluid mid">
    <figure class="project-pic">
        <img src="{{project.project_pic.url}}" class="img-fluid" alt="Sample image for first version of blog listing">
        <figcaption class="text-muted">{{project.title}}</figcaption>
    </figure>

    <div class="project-description">
        {{project.description|safe}}
    </div>

    <a href="{%url 'project_review' project.pk%}" class="btn brown-button text-white">Write a comment</a>

    <hr>
    {%for review in project.reviews.all%}
    <div class="comment-container theme--light">
        <div class="comments">
            <div>
                <div class="card v-card v-sheet theme--light elevation-2">
                    <div class="header">
                        <div class="v-avatar avatar" style="height: 50px; width: 50px;"><img
                                src="{{review.author.profile.profile_pic.url}}">
                        </div>
                        <span class="displayName title">{{review.author.username}}</span> <span class="displayName caption">2 days
                            ago</span>
                    </div>
                    <!---->
                    <div class="wrapper comment">
                        <p>{{review.comment}}</p>
                    </div>
                    <div class="actions">
                        <!---->
                        <!---->
                        <!---->
                    </div>
                    <div class="v-dialog__container" style="display: block;"></div>
                </div>
            </div>
        </div>
    </div>
    {%empty%}
    <h2 class="text-center">No comments</h2>
    {%endfor%}
</div>
{%endblock%}