{%extends "premios_app/base.html"%}
{%load ratings%}
{%block content%}
{%include "premios_app/navbar.html"%}
<div class="jumbotron text-center landing-jumbotron z-depth-0">
    <h2 class="jumbotron-header">Welcome to Premios</h2>
    <p class="reg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="{%url 'project_create'%}" class="btn brown-button text-white btn-rounded mb-4 w-border">Share Project</a>
</div>
<div class="container">
    {%for project in projects%}
    <div class="jumbotron z-depth-0 p-4">
        <div class="row">
            <div class="col-md-5 offset-md-1 mx-3 my-3">
                <div class="view overlay">
                    <img src="{{project.project_pic.url}}" class="img-fluid"
                        alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>

            <div class="col-md-5 text-md-left ml-3 mt-3">
                <h4 class="h4 mb-4">{{project.title}}</h4>

                <p class="font-weight-normal">{{project.descritption|safe}}</p>
                <p class="font-weight-normal">by <a href="{%url 'user_detail' project.author.pk%}"><strong>{{project.author.username}}</strong></a>,
                    {{project.publish_date|date:"D M Y"}}</p>
                <small class="font-weight-normal">{{project.reviews.count}} review(s)</small>
                <p>{% ratings project %}</p>

                <a class="btn brown-button text-white w-border" href="{%url 'project_detail' project.pk%}">View</a>

            </div>

        </div>

    </div>
    {%empty%}
    <h2 class="text-center no-projects">No Projects Posted</h2>
    {%endfor%}
</div>
{%endblock%}